.data-inp {

  border: 1px solid #ccc;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  outline: none; /* Removes the default outline */
  border: 2px solid #ccc;
  padding: .5rem;
    border-radius: .3rem;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  /* overflow: visible; */
}
.data-inp:focus {
    border-color: #007bff; /* Blue border */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.8) ,; /* Blue shadow */
}
.width-100{
    width: 100%;
}
.data-select{
    border: 1px solid #ccc;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    outline: none; /* Removes the default outline */
    border: 1px solid #ccc;
    padding: .3rem;
      border-radius: .3rem;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    
}

.data-select:focus {
    border-color: #007bff; /* Blue border */
    box-shadow:0 0 8px rgba(0, 123, 255, 0.8) ,; /* Blue shadow */
  }

  .data-text{
    border: 1px solid #ccc;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    outline: none; /* Removes the default outline */
    border: 2px solid #ccc;
    padding: .3rem;
      border-radius: .3rem;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    /* overflow: visible; */
  }

  .data-text:focus {
    border-color: #007bff; /* Blue border */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.8) ,; /* Blue shadow */
  }

  .inp-check{
    appearance: none;
    -webkit-appearance: none; /* For WebKit-based browsers */
    width: 20px;
    height: 20px;
    background-color: white; /* Blue background */
    border: 2px solid #444444; /* Optional border */
    border-radius: 3px; /* Optional rounded corners */
    cursor: pointer;
    position: relative;
  }
  .inp-check:checked{
    background-color: var(--lighter-blue-bg);
  }
  .inp-check:checked::before {
    content: '';
    position: absolute;
    top: 1.5px;
    left: 6px;
    width: 5px;
    height: 10px;
    border: solid rgb(255, 255, 255);
    /* background-color: var(--lighter-blue-bg); */
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

