 .shadow-table {
     width: 100%;
     border-collapse: separate;
     border-spacing: 0;
     background-color: #ffffff;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
     /* shadow */
     border-radius: 10px;
     overflow: hidden;
 }

 /* Table Header */
 .shadow-table thead {
     background-color: #f1f5f9;
     font-weight: bold;
 }

 /* Table Row Hover Effect */
 .shadow-table tbody tr:hover {
     background-color: #f0f8ff;
     cursor: pointer;
 }

 /* Table Cell Padding */
 .shadow-table td,
 .shadow-table th {
     padding: 12px 16px;
     border-bottom: 1px solid #e2e8f0;
 }

 .shadow-table tbody tr {
     transition: transform 0.2s ease;
 }


 .shadow-table tbody tr:hover {
     transform: scale(1.01);
 }

 .status-badge {
     padding: 5px 12px;
     border-radius: 20px;
     font-size: 14px;
     font-weight: 500;
     color: #fff;
     display: inline-block;
     text-align: center;
     min-width: 80px;
 }

 .status-pending {
     background-color: #ffc107;
     /* Yellow */
     color: #212529;
 }

 .status-accept {
     background-color: #007bff;
     /* Blue */
 }

 .status-reject {
     background-color: red;
     /* Red */
 }


 .delect {
     color: #dc3545;
     font-size: 20px;
 }

 .edit {
     color: #3910f0;
     background-color: transparent;
     font-size: 20px;
 }

 .status-badge {
     padding: 5px 12px;
     border-radius: 20px;
     font-size: 14px;
     font-weight: 500;
     color: #fff;
     display: inline-block;
     text-align: center;
     min-width: 100px;
 }

 .status-pending {
     background-color: #ffc107;
     /* Yellow */
     color: #212529;
 }

 .status-processing {
     background-color: #007bff;
     /* Blue */
 }

 .status-completed {
     background-color: #28a745;
     /* Green */
 }